body {
    background-color: #01111a;
    color: #db0f0f;
    font-family: monospace;
}

main {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 5%;
    padding: 10px;
    border: 1px solid #db0f0f;
}

h1 {
    margin-bottom: 30px;
}

img {
    border: 1px solid white;
    border-radius: 5px;
    max-width: 350px;
    width: 100%;
}

.content {
    width: 100vw;
    margin: 5%;
    /* padding-left: 30px;
    padding-right: 20px; */
}


button {
    width: 200px;
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 35px;
    border: 1px solid #db0f0f;
    background: transparent;
    color: #db0f0f;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

footer {
    text-align: center;
}

.author {
    font-weight: bold;
}